---
Checks: >
  -*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  performance-*,
  modernize-*,
  readability-*,
  misc-*,
  bugprone-*,
  google-*,
  cert-*,
  -readability-suspicious-call-argument,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -cppcoreguidelines-special-member-functions,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-do-while,
  -readability-magic-numbers,
  -clang-analyzer-optin.cplusplus.UninitializedObject
WarningsAsErrors: false
HeaderFilterRegex: '.*/GameOne/src/include/.*'
CheckOptions:
- key: cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues
  value: 0.5;1;2
