Checks: >
  -*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  performance-*,
  modernize-*,
  readability-*,
  misc-*,
  bugprone-*,
  google-*,
  cert-*,
WarningsAsErrors: true
HeaderFilterRegex: '^(?!(boost|SDL)).*'
